## .NET build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user

## Rider / VS
.vs/
.idea/
*.suo

## NuGet
*.nupkg
*.snupkg
packages/
artifacts/

## Installer build output
installer/publish/
installer/Output/

.vscode/settings.json
